@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0 auto;
  padding: 0 auto;
}

body {
  height: 100%;
  background: linear-gradient(180deg, rgb(209, 25, 110) 0%, rgb(121, 9, 115) 77%, rgb(90, 9, 121) 100%);
  background-attachment: fixed;
}
body .div-h {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #262626;
  width: 100%;
  height: 100px;
}
body .div-h header {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100px;
  color: #efebe2;
  justify-content: space-between;
}
body .div-h header #status {
  height: 40px;
  padding: 2px 5px;
  margin-top: 25px;
  /* color: midnightblue; */
  box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.2), 3px 2px 30px rgba(0, 0, 0, 0.2);
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-size: 30px;
  font-style: normal;
  border-radius: 10px;
}
body .div-h header #supreme-title {
  color: #efebe2;
  font-family: "Nova Square", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 50px;
  margin-top: 5px;
}
body .div-h header #p-total {
  margin-top: 30px;
  font-family: "Nova Square", sans-serif;
  font-weight: 400;
  font-size: 30px;
  font-style: normal;
}
body .div-h #version {
  margin-top: -38px;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  color: #efebe2;
  font-style: normal;
}
body .container {
  margin-top: 50px;
  display: grid;
  /* border: 1px solid white;
  background-color: #333;
   */
  grid-template-columns: auto auto auto;
  gap: 30px 60px;
  justify-content: center;
  padding: 20px;
  /* height: 400px; */
  color: white;
}
body .container .player {
  display: grid;
  grid-template-columns: 160px auto;
  /* border: 2px solid red; */
  height: 150px;
  width: 400px;
  /*       width: 100%; */
  background-color: #ccc;
  padding: 10px;
  border-radius: 10px;
  gap: 10px;
  overflow: hidden;
}
body .container .img-player {
  background-color: #262626;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
body .container .info-player {
  margin-top: 2%;
  background-color: rgba(121, 121, 121, 0.7);
  border-radius: 10px;
  height: 96%;
  width: 100%;
  word-break: break-all;
  overflow: hidden;
}
body .container .info-player .nome-p {
  margin-left: 15px;
  margin-top: 12px;
  margin-right: 10px;
  font-size: 24px;
  margin-bottom: 10px;
  font-family: "Ubuntu Sans Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
body .container .info-player .uuid-p {
  margin-left: 24px;
  margin-right: 15px;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
}/*# sourceMappingURL=style.css.map */